---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import FAQ from "../components/FAQ.astro";
import CTA from "../components/CTA.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Elektroinstalater Zagreb | Electro Blagi</title>
    <meta
      name="description"
      content="Elektroinstalaterske usluge u Zagrebu i Zagrebačkoj županiji. Brza intervencija, pouzdana izvedba, dugogodišnje iskustvo. 
"
    />
  </head>
  <body class="mx-auto max-w-2xl flex flex-col gap-32">
    <Hero />
    <About />
    <Services />
    <FAQ />
    <CTA />
  </body>
</html>
