---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Pic1 from "../images/elektro-blagi-3.jpeg";
import Logo from "../images/logo.png";
---

<div class="lg:grid lg:grid-cols-2">
  <div
    class="bg-linear-to-l bg-[#0d151d] text-white p-4 py-12 flex flex-col items-center align-middle gap-8">
    <div class="flex flex-col align-middle items-center gap-4">
      <Image
        src={Logo}
        alt="Elektroinstalater u Zagrebu - rasvjetna LED traka u novogradnji"
        class="h-16 w-16"
      />
      <h1 class="text-4xl font-bold text-center">
        Pouzdan elektroinstalater u Zagrebu
      </h1>

      <h2 class="text-2xl uppercase text-center text-gray-300 tracking-wider">
        Electro Blagi
      </h2>
    </div>
    <ul class="text-xl list-disc p-4 text-gray-300">
      <li>Elektroinstalacije, adaptacije i popravci</li>
      <li>Videonadzor, rasvjeta, električni bojleri...</li>
      <li>Hitne intervencije 0–24 h</li>
    </ul>
    <a
      href="#contact"
      class="bg-amber-400 text-gray-900 font-bold self-stretch text-2xl py-2 px-4 rounded-2xl hover:cursor-pointer text-center">
      Nazovite odmah
      <span class="block text-xl font-normal">095 396 5224</span>
    </a>
  </div>
  <Image src={Pic1} alt="" class="w-full h-full object-cover" />
</div>
